
.marginleft{
    margin-left: 15PX;
    }
    .margintoleft{
        margin-left: 30px;
    }
body header nav {
    
   
    background-color: white;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    height: 150px;
    color: white;
}
.nnn{
   
    background-color: white;
}
a{
    color: black;
}
.bod9{
    background-color: white;
}
.d-none{
width:299px;

}

.modal-content{
    background-color: white;
}
.fade{
    background-image: url(../images/shado3.jpg);
    background-size: cover;
}

.bg-success {
    background-color: white!important;}
    .bod5{
        background-color: white;
    }
   
    

.ccol{
    color:black ;
}
.btn-outline-success {
    color:black;
    background-color: transparent;
    background-image: none;
    border-color: black;
}
.btn-outline-success:hover {
    color:white;
    background-color: black;
    background-image: none;
    border-color: white;
}

.ll{
    margin-bottom: 80px;
    margin-right: 50px;
 
}
.lo{
    color: black;
}
.widthoflogo{
    margin: auto;
    width: 1000px;
}

.text-light {
    color: black!important;
}

.bg-primary {
    background-color: gray!important;
}



body header nav * {
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

body header nav.fixed-top {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

body header nav.fixed-top .logo {
    width: 50% !important;
}

body header .nav.sp1 li a {
    padding: 24px 32px;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
   
}

body header .nav.sp1 li a:hover {
    background-color: rgb(235, 231, 231);
    color: white;
}


body main a {
    text-decoration: none;
}

body main a:hover {
    text-decoration: none;
}

body main .slides-show .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    
}

body main .slides-show .owl-dots>*:focus {
    outline: none;
}



body main .owl-carousel .owl-stage-outer {
    z-index: 5;
}

body main .owl-carousel .owl-stage-outer img {
    border-radius: 5px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body main .owl-carousel .owl-nav {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body main .owl-carousel .owl-nav .owl-prev,
body main .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 0;
    bottom: 3rem;
    font-size: 4rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    z-index: 5;
}

body main .owl-carousel .owl-nav .owl-prev:hover,
body main .owl-carousel .owl-nav .owl-next:hover {
    background: rgba(134, 151, 145, 0.5);
}

body main .owl-carousel .owl-nav .owl-prev:focus,
body main .owl-carousel .owl-nav .owl-next:focus {
    outline: none;
}

body main .owl-carousel .owl-nav .owl-next {
    right: 0;
}

body main .owl-carousel .owl-nav .owl-prev {
    left: 0;
}

body main .owl-carousel:hover .owl-nav {
    display: block;
}

body main .recommend img {
    border-radius: 5px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body main .recommend .recommend-list #book-1 {
    background-image: linear-gradient(135deg, gray 20% , white 100%);
}

body main .recommend .recommend-list #book-2 {
    background-image: linear-gradient(135deg, rgb(63, 62, 62) 20% , white 100%);
}

body main .recommend .recommend-list #book-3 {
    background-image: linear-gradient(135deg, rgb(27, 27, 27) 20% , white 100%);
}
/* .bg-dark {
    background-image: linear-gradient(135deg,white 10%, rgb(196, 154, 91) 100% );
} */

body main .recommend .recommend-list .display-5 {
    font-size: 1.25rem;
    font-weight: 500;
}

body main .recommend .recommend-list .box-horizontal .box-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

body main .product-content .img-thumbnail {
    padding: 0;
    border: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body main .product-content .product-gift {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

body main .product-content .item,
body main .recommend-list .item {
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

body main .product-content .item:hover,
body main .recommend-list .item:hover {
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 #ddd;
    background-color: #f3f3f3;
}

body main .product-content .item:hover img,
body main .recommend-list .item:hover img {
    transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

body main .reason-set .star-container {
    display: inline-block;
    position: relative;
}

body main .reason-set .star-container .tiny-star {
    background: url(../images/star-none.png);
    height: 14px;
    width: 69px;
}

body main .reason-set .star-container .tiny-star .current-rating {
    background: url(../images/star.png) left bottom;
    height: 14px;
}

body main .reason-set .product-price span {
    display: block;
    font-size: 12px;
}

body main .reason-set .product-price .display-price {
    font-size: 18px;
    color: #F6416C;
    font-weight: 400;
}

body main .reason-set .product-price .full-price {
    text-decoration: line-through;
}

body .box-shadow {
    box-shadow: 0 3px 6px 0 #ddd;
}

@media (max-width: 991px) {
    body header nav .navbar-brands {
        width: 150px;
    }
    body header .secondary-navbar {
        background-color: #343a40 !important;
    }
    body header .secondary-navbar .collapse-mb .sp1 {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    body header .secondary-navbar .collapse-mb .sp1 .nav-item .nav-link {
        color: white !important;
    }
    body header .secondary-navbar .collapse-mb .sp1 .nav-item .nav-link:hover {
        color: #b3b3b3 !important;
        background-color: transparent !important;
    }
}
.my-3{
    width:1000px;
}
/* login */
 .text-center{
    color: #fff;
}


/* random featuers */
.choose{
    background-color: #e0dfdf ;
    height: 800px;
   }
   .section-head{
       text-align: left;
       width: 50%;
       float: left;
   }
   .fline{
       display: block;
       width: 250px;
       height: 3px;
       background: white;

       margin-bottom: 50px;
      } 
   
   .display-2{
       margin-bottom: 30px;
   }
   .hi{
       height: 100%;
      
   }
   .hii{
       background-color: white;
   }
       
   .choose-content{
       overflow: hidden;
   }
   .section-two{
       float: left;
       height: 400px;
   }


   /* features team */

.section-two{
    background-size: cover;
    width: 100%;
}
.fcon {
    background-image: url(../images/teamwork.jpg);
    background-size: cover;
    position: relative;
    opacity: 100%;
} 
.foverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(20, 17, 17, 0.5);
}
.foot{
    background-color: white;
   height: 200px;
   padding: 50px;
   color:black;
}

.text-muted {
    color: white!important;
}
.col8{
    color: black;
}
.hh1{
    background-color: white;
}
/* onlineshop */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: gray;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
    color: black;
    background-color: white;
    border-color: #dee2e6 #dee2e6 #fff;
}
.list-group-item:hover {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: gray;
    border: 1px solid rgba(0,0,0,.125);
    color: white;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    color: black;
}
.wi{
    width: 200px;
}
.border{
    color: black;
}

   .para{
        font-size: 40px;
        margin-left: 10px;
       
   }
   .par{
    font-size: 30px;
    color: rgb(0, 0, 0);
  

   }

   .ltreffect:hover .par ,
   .ltreffect:hover .lu{
       color: #fff;
   }
.ltreffect{
    position: relative;
    border: 1px solid #e8e8e8;
    
    }
    .wid{
        width: 50%;
        margin-top: 40px;
    }
    .ltreffect:hover:after{
        width: 100%;
    }
    
    .ltreffect:after{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background: gray;
    top: 0;
    left: 0;
    transition: width 0.5s ;
    z-index: -1;}

    .ltreffect:hover .para{
        color: #fff;
    }

    .laib {
    list-style: none;}

    /* .firstlaib{
    margin: 10px;
    } */
    .fas{
        margin-right: 6px;
    }
    .mar{
        margin-top: 30px;
    }

    /* libraries */

    .dada{
        margin-bottom: 50px;
        float: left;
     
       }
       .one{
             font-size: 30px;  
             color: darkcyan;
            
       }
 .tow{
    
        font-size: 20px;  
       

 }
.a{
     overflow: hidden;
}
.aa{
    float: left;
   margin-left: 500px; 
   margin-top: 30px;
}
.e{
    margin-left: 600px;
}
.ww{
    margin-left: 15%;
    width: 100%;
}
.d{
   
    text-align: center;
}
.dd{
    text-align: center;
}
.c{
    position: relative;
   
}
.cc{
    position: absolute;
    top: 20%;
    left:53%;
    transform: translate(-50% -50%);
}
/* page audio */
.con1{
    background-color: white;
    background-size: cover;
    height: 50vw;
    width: 210vh;
    position: relative;
    visibility
    : visible;
}


.audio{
    color: black;
}
.audio{
    text-align: center;
}
.ov{
    
    position: absolute;
    top:20%;
    left: 20%;
    transform: translate(-50% -50%);
    text-align: center;
    font-size: large;
}
.m:hover 
 {
    transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
	
	
}
.img-thumbnail:hover{
	transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.con5{
    /* background-color: gray; */
    font-size: large;
    color: white;
}
.con5{
    min-width: 160px;
     padding: 15px 0;
     border-radius: 5px;
     border: 0;
     /* background-color: black; */
      color:black;
     cursor: pointer;
     font-size: 18px;
     
 }
 .btt{
     margin-left: 40px;
     background-color:gray;
     color:black;
     /* margin-top: 0%; */
     font-size: large;
     margin-bottom: 10%;
 }
 
 .hover-opacity{
    text-transform: opacity.3s;
}
.hover-opacity:hover{
opacity: 0.3;
}
.rr{
text-align: center;
text-transform: opacity.5s;
}
.rr:hover{
    opacity: 0.3;
}
.line{
    display: block;
    height: 7px;
    width:80px ;
    background-color:gray;
    margin:0 auto 70px auto;
}
.aa:hover{
    transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
	
}
.color{
    color: white;
}
.rrr{
    color: black;
}

.color2{
    background-color: rgb(196, 154, 91);
}
.color4{
    background-color: white;
    color: black;
}
.page{
    width: 20px;
    height: 20px;
}
.ic{
    margin-left: 40px;
}

/*# sourceMappingURL=main.css.map */
body {
    background-color: white;}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}
.btn-primary {
    color:black;
    background-color: gray;
    border-color: grey;
}
.btn-primary:hover {
    color:black;
    background-color: white;
    border-color: grey;
}
.list-group-item.active {
    z-index: 2;
    color:black;
    background-color: gray;
    border-color: grey;
}
.color {
    color: black;
}
.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bod{
    background-image: url(../images/img.jpg);
   
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: white;
}
.nav-pills .nav-link.active:hover {
    color: white;
    background-color:black;}


.bold {
    font-weight: bold
}

.hightofpec{
    height: 150px;
}
.wid{
    width: 60%;
    margin-top: 40px;
}
.q{margin-left: 200px;
    width: 500px;}
 .qq{
    margin-left: 140px;
    width: 400px; 
    margin-top: 10px;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}

.col5{
    color: black;
}
.text-muted {
    color: black!important;
}


.pac2{
    background-color: white;
}
.bod{
   
    background-size: cover;
}
.home .title{

    color: rgb(252, 249, 249);
    font-size: 40px;
    text-transform: uppercase;

}
.home{
    height: 100vh;
    background-image: url(../images/man6.jpg);
    background-size: cover;
    opacity: 100% ;
    position: relative;
}
.home-contener{
    
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(20, 17, 17, 0.5);
}

.coloroftext{
    color: white;
    list-style: none;
}
.coloroftextwo{
    color: rgb(243, 148, 148);
    list-style: none;
}
.widlip{
    height: 205px;
}
.widlipf{
    height: 220px;
}


 


    

.pect{
    background-image: url(../images/slidesho3.jfif);
    background-size: cover;
}
.heightofbec{
    text-align: center;
    height: 600px;
}
  .pec{
        background-image: url(../images/mak.jfif);
        background-size: cover;
    }
    .pec{
        background-image: url(../images/mak.jfif);
        background-size: cover;
    }
 
    .fline{
        display: block;
        width: 250px;
        height: 3px;
        background: gray;
        margin-bottom: 50px;
        margin-left: 200px;
       } 
     .flinetwo{
         display: block;
        width: 100px;
        height: 3px;
        background: rgb(249, 250, 250);
        margin-bottom: 50px; 
        margin-left: 300px;
     }     
     
     .rbg-transparent{
        color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
     }
     
    .z{
        color: white;
    }
    .zzz{
        color: white;
    }
 .modal-content{
    background-image: linear-gradient(135deg, white 50%,rgb(99, 21, 25) 00%); 
 }
 .btn-warning {
    color: black;
    background-color: gray;
    border-color: gray;
}
.btn-warning:hover {
    color: black;
    background-color: white;
    border-color: white;
}     
.bg-warning {
    background-color:white !important;
    border-color: black;
}

.btn-outline-dark {
    color: black;
    background-color: gray ;
    background-image: none;
    border-color: gray;
}
.btn-outline-dark:hover {
    color:black;
    background-color: white;
    background-image: none;
    border-color: black;
}
.badge-warning {
    color: black;
    background-color: white;
}
.fa-search{
margin: auto;
}
.bbb{
    height: 100vh;
    background-image: url(../images/sab.jpg);
    background-size: cover;
    opacity: 100% ;
    position: relative;
}