.bg-success {background-color:  rgb(3, 39, 3) !important;}
.bg-success:hover { background-color:  #ffcd00 !important;}
.btn-outline-success{
    color: white;
    background-color: rgb(161, 52, 1);
    background-image: none;
    border-color:  rgb(161, 52, 1);
}

.btn-outline-success:hover{
background-color:white;
border-color:  rgb(161, 52, 1);
color:rgb(161, 52, 1);

}
.marginleft{
    margin-left: 15PX;
    } 
.margintoleft{
        margin-left: 30px;
    }
.wi{
    width:200px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #111;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;

 
}
.border-top {
    border: 1px solid #dee2e6!important;
} 
.bg-warning {
    background-color: rgb(161, 52, 1)!important;
    margin-left: 150px;
}                  

/* .card:hover , .colorp:hover ,   .nav-tabs .nav-link.active:hover {
    background-color: #fff;
    color:#111;
    border-color: #dee2e6 #dee2e6 #fff;
} */
.lll{
    color: white;
}
.l{
    color: white;
}
.colorp{
    color:#fff;
}
.bg-light {
    background-color: #111!important;
    /* color:#ffc107; */
    
}
.colcate{
 color: white;
}
.colcate:hover{
color:white;
}
.list-group-item:hover{
    background-color:rgb(161, 52, 1);
    color: white;
}
.textcolor:hover{
    color: #fff;

}
.dhov:hover {
background-color:rgb(161, 52, 1) ;
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
     background-color: #111; 
    border: 1px solid rgba(0,0,0,.125);
}

/* .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    /* background-color: #fff;
    } */
/*  
.nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
    color: #495057;
     background-color: #111;
    border-color: #111 #111 #111;} */
    .btn-outline-dark {
        color: white;
        background-color: rgb(161, 52, 1);
        background-image: none;
        border-color:rgb(161, 52, 1);
    }
    .btn-outline-dark:hover {
        color: #222;
        background-color:white;
        background-image: none;
        border-color: #222;
    }
    .badge-warning {
        color: white;
        background-color: #222;
    }
    .text-dark {
        color: white!important;
    }
    
    .tt{
        color: black;
    }
    .bg-warning {
        background-color: rgb(161, 52, 1)!important;
        margin-left: 150px;
    }
    .btn-primary {
        color: #fff;
        background-color: rgb(161, 52, 1);
        border-color: rgb(161, 52, 1);
    }
    .btn-primary:hover {
        color: black;
        background-color:white;
        border-color: white;
    }
    a {
        color: white;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;
    }
    .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        background-color:rgb(161, 52, 1);
    
    }
    bg-primary {
        background-color: rgb(161, 52, 1)!important;
    }
    .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color:black;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.bg-primary {
    background-color: rgb(161, 52, 1)!important;
}
body header nav {
    background-color: rgba(255, 255, 255, 0.9);
    background-color:#111;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    height:150px;
}
.fa-user{
    margin: auto;
}
body {
    background: #111;
    color: #fff;
}
body header nav * {
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

body header nav.fixed-top {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

body header nav.fixed-top .logo {
    width: 50% !important;
}

body header .nav.sp1 li a {
    padding: 24px 32px;
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

body header .nav.sp1 li a:hover {
    background-color: #e6e7e8;
}
body header .nav{
    background-color:rgb(161, 52, 1);
    width: 100%;
}
/* .con{
    width: 100%;
} */

body main a {
    text-decoration: none;
}

body main a:hover {
    text-decoration: none;
}

body main .slides-show .owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

body main .slides-show .owl-dots>*:focus {
    outline: none;
}

body main .owl-carousel .owl-stage-outer {
    z-index: 5;
}

body main .owl-carousel .owl-stage-outer img {
    border-radius: 5px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body main .owl-carousel .owl-nav {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body main .owl-carousel .owl-nav .owl-prev,
body main .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 0;
    bottom: 3rem;
    font-size: 4rem;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    z-index: 5;
}

body main .owl-carousel .owl-nav .owl-prev:hover,
body main .owl-carousel .owl-nav .owl-next:hover {
    background: rgba(134, 151, 145, 0.5);
}

body main .owl-carousel .owl-nav .owl-prev:focus,
body main .owl-carousel .owl-nav .owl-next:focus {
    outline: none;
}

body main .owl-carousel .owl-nav .owl-next {
    right: 0;
}

body main .owl-carousel .owl-nav .owl-prev {
    left: 0;
}

body main .owl-carousel:hover .owl-nav {
    display: block;
}

body main .recommend img {
    border-radius: 5px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body main .recommend .recommend-list #book-1 {
    background-image: linear-gradient(135deg, #0b0c0c 10%,gray 100%);
}

body main .recommend .recommend-list #book-2 {
    background-image: linear-gradient(135deg, #272727 10%,rgb(161, 52, 1) 100%);
}

body main .recommend .recommend-list #book-3 {
    background-image: linear-gradient(135deg, #444443 10%, rgb(234, 240, 161) 100%);
}

body main .recommend .recommend-list .display-5 {
    font-size: 1.25rem;
    font-weight: 500;
}

body main .recommend .recommend-list .box-horizontal .box-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

body main .product-content .img-thumbnail {
    padding: 0;
    border: 0;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

body main .product-content .product-gift {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

body main .product-content .item,
body main .recommend-list .item {
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

body main .product-content .item:hover,
body main .recommend-list .item:hover {
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 #ddd;
    background-color: rgb(161, 52, 1);
}

body main .product-content .item:hover img,
body main .recommend-list .item:hover img {
    transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

body main .reason-set .star-container {
    display: inline-block;
    position: relative;
}

body main .reason-set .star-container .tiny-star {
    background: url(../images/star-none.png);
    height: 14px;
    width: 69px;
}

body main .reason-set .star-container .tiny-star .current-rating {
    background: url(../images/star.png) left bottom;
    height: 14px;
}

body main .reason-set .product-price span {
    display: block;
    font-size: 12px;
}

body main .reason-set .product-price .display-price {
    font-size: 18px;
    color: #F6416C;
    font-weight: 400;
}

body main .reason-set .product-price .full-price {
    text-decoration: line-through;
}

body .box-shadow {
    box-shadow: 0 3px 6px 0 #ddd;
}

@media (max-width: 991px) {
    body header nav .navbar-brands {
        width: 150px;
    }
    body header .secondary-navbar {
        background-color: #343a40 !important;
    }
    body header .secondary-navbar .collapse-mb .sp1 {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    body header .secondary-navbar .collapse-mb .sp1 .nav-item .nav-link {
        color: white !important;
    }
    body header .secondary-navbar .collapse-mb .sp1 .nav-item .nav-link:hover {
        color: #b3b3b3 !important;
        background-color: transparent !important;
    }
}
.my-3{
    width:1000px;
}
/* login */
 .text-center{
    color: #fff;
}


/* random featuers */
.choose{
    background-color: #e0dfdf ;
    height: 800px;
   }
   .section-head{
       text-align: left;
       width: 50%;
       float: left;
   }
   .fline{
       display: block;
       width: 250px;
       height: 3px;
       background-color: rgb(161, 52, 1);
       margin-bottom: 50px;
       /* margin: 0 auto 70px auto;*/} 
   
   .display-2{
       margin-bottom: 30px;
   }
       
   .choose-content{
       overflow: hidden;
   }
   .section-two{
       float: left;
       height: 400px;
   }


   /* features team */

.section-two{
    background-size: cover;
    width: 100%;
}
.fcon {
    background-image: url(../images/teamwork.jpg);
    background-size: cover;
    position: relative;
    opacity: 100%;
} 
.foverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(20, 17, 17, 0.5);
}
.foot{
    background-color:rgb(161, 52, 1);
   height: 150px;
   padding: 50px;
}
/* 


.homecolor{
    float: left;
    width: 60%;


}

.clear{
    clear: both;
}  */
.cleer{
   position: relative;
    
}
.cleer:hover .homeofgame ,
.homecolor:hover
{
  margin-right: 1000px;
  color: #fff;
}
.cleer:hover .homeofgame{
  margin-top: 40px;


}
.stylelist{
    list-style: none;
}
.fade{
    color: #111;
    background-image: url(../images/4cb7eece-ea06-48ae-afa5-84d6e58f7306.jpg) ;
    background-size:cover;
}
.homeofgame{
  position: absolute ;
  color: #111;
}
/* onlineshop */


   .para{
        font-size: 40px;
        margin-left: 10px;
       
   }
   .par{
    font-size: 30px;
    color: #fff;;
    /* background-image:url(../images/تنزيل.jfif) ;
    background-size: cover; */

   }

   .ltreffect:hover .par ,
   .ltreffect:hover .lu{
       color: #fff;
   }
.ltreffect{
    position: relative;
    border: 1px solid #e8e8e8;
    
    }
    .wid{
        width: 60%;
        margin-top: 40px;
    }
    .ltreffect:hover:after{
        width: 100%;
    }
    
    .ltreffect:after{
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    background: #333;
    top: 0;
    left: 0;
    transition: width 0.5s ;
    z-index: -1;}

    .ltreffect:hover .para{
        color: #fff;
    }

    .laib {
    list-style: none;}

    /* .firstlaib{
    margin: 10px;
    } */
    .fas{
        margin-right: 6px;
    }
    .mar{
        margin-top: 30px;
        
    }

    /* libraries */

    .dada{
        margin-bottom: 50px;
        float: left;
     
       }
       .one{
             font-size: 30px;  
             color: darkcyan;
            
       }
 .tow{
    
        font-size: 20px;  
       

 }
.a{
     overflow: hidden;
}
.aa{
    float: left;
   margin-left: 500px; 
   margin-top: 30px;
}
.e{
    margin-left: 600px;
}
.ww{
    margin-left: 15%;
    width: 100%;
}
.d{
   
    text-align: center;
}
.dd{
    text-align: center;
}
.c{
    position: relative;
   
}
.cc{
    position: absolute;
    top: 30%;
    left:55%;
    transform: translate(-50% -50%);
}
/* page audio */
.con1{
    background-image: url(../images/1910686.jpg);
    background-size: cover;
    height: 50vw;
    width: 100vw;
    position: relative;
    visibility: visible;
    
}
.audio{
    text-align: center;
}
.overlay{
    color: white;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50% -50%);
    text-align: center;
    font-size: large;
}
.m:hover 
 {
    transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
	
	
}
.img-thumbnail:hover{
	transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}
.con5{
    /* background-color: gray; */
    font-size: large;
    color: white;
}
.con5{
    min-width: 160px;
     padding: 15px 0;
     border-radius: 5px;
     border: 0;
     /* background-color: black; */
      color:black;
     cursor: pointer;
     font-size: 18px;
     
 }
 .btt{
     margin-left: 40px;
     background-color:rgb(0, 0, 0);
     color:white;
     margin-top: 5%;
 }
 
 .hover-opacity{
    text-transform: opacity.5s;
}
.hover-opacity:hover{
opacity: 0.3;
}
.rr{
text-align: center;
text-transform: opacity.5s;
}
.rr:hover{
    opacity: 0.3;
}
.line{
    display: block;
    height: 7px;
    width:80px ;
    background-color:black;
    margin:0 auto 70px auto;
}
.aa:hover{
    transform: translate(0, -20px);
    transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
	
}
.color{
    color: white;
}
.rrr{
    color: black;
}
/* body{
    background-color: #F8D800;
} */
.color2{
    background-color: #2ba3d4;
}
.color4{
    background-color: white;
    color: black;
}
.page{
    width: 20px;
    height: 20px;
}
.ic{
    margin-left: 40px;
}

/*# sourceMappingURL=main.css.map */


.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}


/* game */
/* proudact */
.high{
    height: 5px;
}


.home .title{

    color: rgb(252, 249, 249);
    font-size: 40px;
    text-transform: uppercase;

}
.home{
    height: 100vh;
    background-image: url(../images/7445.jpg);
    background-size: cover;
    opacity: 100% ;
    position: relative;
    
}
.home-contener{
    /* background: red; */
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgba(20, 17, 17, 0.5);
}
.home .home-desc{
    margin: 20px;
    color: rgb(252, 249, 249);
    letter-spacing: 1px;
    line-height: 20px;
}
.home .btn{
    padding: 15px;
    border-radius: 5px;
    min-width: 160px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}

.home .btn-started{
    margin-right: 10px;
}
.home .btn-learn{
 background-color: rgb(47, 185, 185);   
 color: beige;
}
.text-muted {
    color: #fff!important;
}

/* learnmorre */
